<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>404 Page Not Found</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

    <!--Google Webfont-->
    <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic|Cherry+Cream+Soda' rel='stylesheet' type='text/css'>

    <!-- CSS -->
    <style>
    html{background:url('/~ricky.holtz/server/static/img/404nope.gif') no-repeat center center; min-height:100%; background-size:cover;
    }a{color:#fee83d;}h1{color: #fff; margin: 0; font-size: 96px; font-family: 'Cherry Cream Soda', cursive; text-align: center;}
    @media only screen and (max-width:640px), only screen and (max-device-width: 640px){
        h1{font-size: 48px;}
    }
    </style>
    </head>
    <body>
        <div class="text">
    	   <h1>404: Page Not Found</h1>
    	   <p  style="color: #fff; font-size: 18px;font-family: 'Josefin Sans', sans-serif; font-weight: 300; text-align: center;"> are you sassing me? get yourself back to <a href="/~ricky.holtz/server/crisco" style="color:#fff">crisco</a> to get your shortening on. </p>
        </div>
	</body>
</html>
