<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Confirmation Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

    <!--Google Webfont-->
    	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans|Cherry+Cream+Soda' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    	<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
    </head>
    <body>
    	<div class="splashwrapper">
            <img src="../static/img/criscocan.svg" alt="Crisco logo">
        <div class="typography">
    	<h1>Submission Confirmed</h1>
		<p>{{input_full_url}}
            <br>
            has been 'shortened' to
			<br>
			people.ischool.berkeley.edu/~ricky.holtz/server/short/{{input_url_code}}
			<br>
			copy and paste the link into your browser to test it out!
			</p>
		</div>
	</div>
	</body>
</html>