<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Code Taken</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

    <!--Google Webfont-->
    	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic|Oswald' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    	<link href="{{url_for('static', filename='css/confirmation.css')}}" rel="stylesheet">
    </head>
    <body>
    	<div class="row">
        <div class="typography">
    	<h1>DUPLICATE!</h1>
		<p>{{input_url_code}} has been associated with another url
			<br>
			head back to <a href="{{url_for('crisco')}}">crisco</a> and try a different one.
			</p>
		</div>
	</div>
	</body>
</html>