<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Crisco URL Shortener</title>

  <!-- include jquery -->
  <script src="http://code.jquery.com/jquery-1.10.1.min.js"></script>
  <script src="static/maskedinput.js"></script>

  <!--Google Webfont-->
  <link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic|Oswald' rel='stylesheet' type='text/css'>

  <!-- Bootstrap -->
  <link href="{{url_for('static', filename='css/crisco_input.css')}}" rel="stylesheet">
</head>
<body>
  <div class="row">
    <div class="typography">
      <h1>WELCOME</h1>
      <h2>to the crisco url shortening-er.</h2>
      <p>enter the full url of a webpage and a short tag alongside it. we'll create a link that redirects to provided url.</p>
    </div>
  </div>
  <!--form container-->
  <div class="form-container">
    <form class="form-inline row" role="form" method="POST" action="{{url_for('shorts')}}">

      <div class="form-group">
        <label class="form-label" for="full_url">full url:</label>
        <input class="form-control"  type="text" name="full_url" placeholder="ex: http://example.com/">
      </div><!-- end form group -->

      <div class="form-group">
        <label class="form-label" for="url_code">shorter tag:</label>
        <input class="form-control"  id="shorter" type="text" name="url_code" placeholder="letters only, please!">
      </div> <!-- end form group -->
      <div class="form-group">
        <input type="submit" class="btn btn-primary" value="submit">
      </div><!--end form-group div-->
    </div>
</form>
  <!-- now do the sweet validation shit -->
  <script>
  $('document').ready(function() {
    jQuery(function($){
      $("#shorter").mask("a?aaaaaaaaa", {placeholder:" "});

    });
  });
  </script>
</body>
</html>