<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>Confirmation Page</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    </head>
    <body>
    	<h1>Welcome to the URL Shortener!</h1>
		<form id="url-info" method="post">
			<label for="full_url">Full URL: <input type="text" name="full_url"></label>
			<br>
			<label for="url_code">Shortened Tag: <input type="text" name="url_code"></label>
			<input type="submit" value="submit">
		 </form>
	</body>
</html>