<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>That Dog Don't Hunt</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

    <!--Google Webfont-->
    	<link href='http://fonts.googleapis.com/css?family=Josefin+Sans:400,400italic|Cherry+Cream+Soda' rel='stylesheet' type='text/css'>

    <!-- Bootstrap -->
    	<link href="{{url_for('static', filename='css/main.css')}}" rel="stylesheet">
    </head>
    <body>
    	<div class="splashwrapper">
            <img src="../static/img/criscocan.svg" alt="Crisco logo">
        <div class="typography">
    	<h1>SORRY HUN,</h1>
		<h2>THAT DOG DON'T HUNT!</h2>
        <br>
            <p>
			{{input_url_code}} is already in use. get yourself back to <a href="{{url_for('form_method_handling')}}">crisco</a> to try some other shortening.
			</p>
		</div>
	</div>
	</body>
</html>