html{
    /* code from tutorialzine fullscreen backgrounds */
    background:url('../img/canbg.svg') repeat;
    background-color: #93d4ff;
}

a{
  color:#fee83d;
}

body{
  min-height:100%;
}

h1, h2{
  color: #fff;
  margin: 0;
  font-size: 96px;
  font-family: 'Oswald', serif;
  text-align: center;
}

h2 {
  font-size: 36px;
}

p {
  color: #fff;
  font-size: 18px;
  font-family: 'Josefin Sans', sans-serif;
  font-weight: 300;
  text-align: center;
}

.typography{
  top: 20%;
  margin: auto;
}

.form-container {
  display: flex;
  justify-content: center;
}

.form-label{
  color: #fff;
  font-family: 'Josefin Sans', sans-serif;
}

.form-control {
  display: block;
  width: 175px;
  height: 34px;
  padding: 6px 12px;
  font-family: 'Josefin Sans', sans-serif;
  font-size: 14px;
  line-height: 1.42857143;
  color: #68696c;
  background-color: #fff;
  background-image: none;
  border: 1px solid #68696c;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
       -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
          transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.form-group {
  display: inline-block;
  padding-left: 50px;
}

.btn-primary,
{
  text-shadow: 0 -1px 0 rgba(0, 0, 0, .2);
  -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
          box-shadow: inset 0 1px 0 rgba(255, 255, 255, .15), 0 1px 1px rgba(0, 0, 0, .075);
}

.btn {
  margin-top: 10px;
  padding: 6px 12px;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.42857143;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: #68696c;
  border: 1px solid transparent;
  border-radius: 4px;
}

@media only screen and (max-width:480px), only screen and (max-device-width: 480px){
    html{
      background: none;
      background-color: #68696c;
    }
    h1{
      font-size: 72px;
    }

    h2{
      font-size: 24px;
    }
    input.form_url{
      width:100%;
    }
    .form-container{
      display: inline;
      width: 100%;
    }
    .form-control{
      width:93%;
    }
    .form-label{
      width: 100%;
      margin: auto;
    }
    .form-group{
      width: 100%;
      display: inline;
      padding: 0;

    }
    .btn{
      padding: 6px 44%;
    }
      }
